
.line{
    border-top: 2px solid rgb(133, 133, 133); /* Espessura e cor da linha */
    width: 100%; /* Largura da linha */
    margin: 0 0; /* Margem acima e abaixo da linha */
    
}

#btnNex {
    position: absolute; /* Isso vai tirar o botão do fluxo normal e posicioná-lo com base no contêiner */    
    left: 50%; /* Centraliza o botão horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralização precisa */
}

#btns {
    position: absolute; /* Isso vai tirar o botão do fluxo normal e posicioná-lo com base no contêiner */    
    left: 50%; /* Centraliza o botão horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralização precisa */
}

